body {
  background: #eee;
  margin: 0;
  font-family: Roboto;
}

.App {
  display: grid;
  grid-template-rows: auto 1fr;
  overflow: hidden;
  height: 100vh;
}

.AppTitle {
  flex-grow: 1;
  display: flex;
  cursor: default;
  overflow: hidden;
}

.Page {
  overflow: hidden;
  overflow-y: auto;
  display: grid;
  grid-template-rows: 1fr auto;
}

.TitleText {
  font-weight: 700;
  font-size: 20px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.6;
}

.SubtitleText {
  color: rgba(255, 255, 255, 0.5);
}

.Drawer {
  display: grid;
  grid-template-rows: 1fr auto;
  width: 240px;
  height: 100%;
  overflow: hidden;
}

.EmptyDrawer {
  display: grid;
  align-items: center;
  text-align: center;
  color: #aaa;
  height: 100%;
}

.DrawerButton {
  height: 50px;
}

.DeckList {
  height: 100%;
  overflow-y: auto;
}

.EmptyState {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  color: rgba(0, 0, 0, 0.3);
  display: grid;
  gap: 60px;
  text-align: center;
  justify-items: center;
  cursor: default;
}

.EmptyStateIcon {
  font-size: 90px;
}

.DeckControls {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-auto-flow: column;
  padding: 20px;
  gap: 20px;
}

.Cards {
  display: grid;
  padding: 60px 80px;
  padding-bottom: 0;
}

.Card {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;
}

.CardHeader {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 20px 40px;
  color: #888;
  cursor: default;
  border-bottom: 1px solid #ddd;
}

.CardContent {
  display: grid;
  align-items: center;
  padding: 40px;
  overflow: auto;
}

.mce-content-body:hover {
  background-color: #e6f2ff;
}

.CardTools {
  display: grid;
  grid-template-columns: 1fr auto auto;
  border-top: 1px solid #ddd;
  align-items: center;
  padding: 5px 20px;
}

.ButtonContainer {
  display: grid;
  align-items: center;
  justify-content: flex-start;
}

.MuiMenuItem-root {
  display: grid;
  gap: 20px;
}

.GrayText {
  color: #666;
}

.DialogGrid {
  display: grid;
  gap: 10px;
}

@media screen and (max-width: 600px) {
  .Cards {
    padding: 0;
  }
}