html {
  scroll-behavior: smooth;
}

body {
  background: #eee;
  margin: 0;
  font-family: Roboto;
  height: 100vh;
}

.App {
  cursor: default;
}

.EvenFlex {
  flex: 1;
  display: flex;
  justify-content: center;
}

.EvenFlex:first-child > span { margin-right: auto; }

.EvenFlex:last-child  > span { margin-left: auto;  }

.LeftAlign {
  text-align: left;
}

.RightAlign {
  text-align: right;
}

.CenterAlign {
  text-align: center;
}

.BorderBox {
  box-sizing: border-box;
}

.AutoWidth {
  width: auto;
}

.CenterVertical {
  align-items: center;
}

.AppTitle {
  flex-grow: 1;
  display: flex;
  cursor: default;
  overflow: hidden;
}

.Page {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}

.TitleText {
  font-weight: 700;
  font-size: 20px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.6;
}

.SubtitleText {
  color: rgba(255, 255, 255, 0.5);
}

.Drawer {
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 100%;
  overflow: hidden;
}

.EmptyDrawer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #aaa;
  height: 100%;
}

.DrawerButton {
  height: 50px;
}

.DeckList {
  height: 100%;
  overflow-y: auto;
}

.EmptyState {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  color: rgba(0, 0, 0, 0.3);
  display: grid;
  grid-gap: 40px;
  justify-items: center;
  cursor: default;
}

.EmptyStateIcon {
  font-size: 90px;
}

.react-card-flip {
  height: 100%;
  box-sizing: border-box;
}

.DeckView {
  position: absolute;
  height: calc(100% - 120px);
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  width: 100%;
}

.DeckControls {
  display: flex;
  justify-content: center;
  padding: 20px;
  gap: 20px;
}

.CardSpace {
  padding: 20px 80px;
  align-self: stretch;
  flex-grow: 1;
}

.Card {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.CardHeader {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  color: #444;
  border-bottom: 1px solid #ddd;
}

.CardContent {
  display: grid;
  align-items: center;
  padding: 20px;
  overflow: auto;
  text-align: center;
  flex-grow: 1;
}

.CardContent p {
  font-size: 18pt;
}

.mce-content-body {
  text-align: center;
}

.CardTools {
  text-align: center;
  border-top: 1px solid #ddd;
  padding: 10px 20px;
}

.MuiMenuItem-root {
  display: grid;
  gap: 20px;
}

.GrayText {
  color: #666;
}

.DialogGrid {
  display: grid;
  gap: 10px;
}

.FlagButtonActive {
  background-color: #ff8c00 !important;
  color: white !important;
}

.FlagButtonActive:hover {
  background-color: #dd7b00 !important;
}

.FlagButtonActive:disabled {
  opacity: 0.5 !important;
}

.EditCardContainer {
  padding: 10px 80px;
  max-width: 1200px;
  margin: 0 auto;
}

.EditCardFlex {
  display: flex;
  gap: 30px;
  align-items: flex-start;
}

.EditCard {
  display: grid;
  grid-template-rows: auto 1fr;
  align-items: center;
  width: 100%;
  padding: 20px;
  min-height: 200px;
  text-align: left;
  box-sizing: border-box;
}

.EditCardContent {
  text-align: center;
  font-size: 18pt;
  position: relative;
  cursor: text;
}

.EditCardContent:hover {
  background-color: #e6f2ff;
}

.EditControls {
  text-align: right;
  margin-top: 5px;
}

.CenterAbsolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#deck-name-input-container {
  margin: 40px auto;
  text-align: center;
}

#deck-name-input {
  font-size: 32px;
  text-align: center;
  width: 600px;
}

.Toolbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
  justify-content: center;
  display: flex;
  gap: 20px;
}

@media screen and (max-width: 1024px) {
  .EditCardContainer {
    padding: 0 10px;
  }

  .EditCardFlex {
    gap: 10px;
  }
}

@media screen and (max-width: 700px) {
  .EditCardContainer, .CardSpace {
    padding: 10px 0;
  }

  .EditCardFlex {
    flex-direction: column;
  }

  #deck-name-input-container {
    margin: 20px 10px;
  }

  #deck-name-input {
    font-size: 24px;
  }

  .MuiTextField-root {
    width: 100%;
  }
}