body {
  background: #eee;
}

.App {
  display: grid;
  grid-template-rows: auto 1fr;
  overflow: hidden;
  height: 100vh;
}

.Page {
  padding: 80px 24px;
}

.TitleText {
  font-weight: 700;
  font-size: 20px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.6;
}

.SubtitleText {
  color: rgba(255, 255, 255, 0.5);
}

.EmptyState {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  color: rgba(0, 0, 0, 0.3);
  display: grid;
  grid-gap: 60px;
  text-align: center;
  justify-items: center;
}

.EmptyStateIcon {
  font-size: 90px;
}

.DeckView {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  align-items: center;
  height: 100%;
}

.Card {
  display: grid;
  grid-template-rows: 1fr auto;
  align-items: center;
  height: 100%;
}

.SideCard {
  padding: 10px;
  min-height: 80px;
}

.PreviewCard {
  width: 200px;
}

.CardContent {
  padding: 40px;
}

.CardTools {
  background: rgba(0, 160, 255, 0.2);
  display: grid;
  justify-content: flex-end;
  grid-template-columns: auto auto;
}